
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <nav>
        <a href="http://192.168.200.201:3000/">Homepage</a>
        <a href="http://192.168.200.201:3000/cats">Cats</a>
        <a href="http://192.168.200.201:3000/dogs">Dogs</a>
        <a href="http://192.168.200.201:3000/ninja">Ninja</a>
        <a href="http://192.168.200.201:3000/pirates">Pirates</a>
      </nav>
      <img src="http://www.lauriegay.com/wp-content/uploads/2014/02/ninja-cats.jpg">
      <img src="/images/cat1.jpg">
      <img src="http://ochumanesociety.com/clients/3697/images/kittens.jpg">

      <iframe width="560" height="315" src="//www.youtube.com/embed/A6GdrxuxUhE" frameborder="0" allowfullscreen></iframe>
      </body>
  </html>doctype
