<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <header>My Header</header>
    
    <nav>
        <a href="http://192.168.200.201:3000/">Homepage</a>
        <a href="http://192.168.200.201:3000/cats">Cats</a>
        <a href="http://192.168.200.201:3000/dogs">Dogs</a>
        <a href="http://192.168.200.201:3000/ninja">Ninja</a>
        <a href="http://192.168.200.201:3000/pirates">Pirates</a>
      </nav>
    
    <h1>My Header</h1>
    <article>
      <h2>Toy Story</h2>
      <p>Toy story is a really funny movie!</p>
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSv4kXmVSZBZ2B5GfM4_awzafXyXSEDfZkxUA3wo9ZG8FDP3grrlg">
      <a href="http://toystory.disney.com/">Click here to go to toy story site</a>
      <p> <iframe width="420" height="315" src="//www.youtube.com/embed/5G0j_Huv2Fg" frameborder="0" allowfullscreen></iframe></p>
      <h2>Article Header</h2>
      <p>this is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>:w

    </footer>
  </body>
</html>



