<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <nav>
        <a href="http://192.168.200.201:3000/">Homepage</a>
        <a href="http://192.168.200.201:3000/cats">Cats</a>
        <a href="http://192.168.200.201:3000/dogs">Dogs</a>
        <a href="http://192.168.200.201:3000/ninja">Ninja</a>
        <a href="http://192.168.200.201:3000/pirates">Pirates</a>
      </nav>
      <img src="/images/nin3.jpg">
      <img src="/images/nin1.jpg">
      <img src="/images/nin2.jpg">

      </body>
  </html>


